<div class="order-container">
    <div class="order" *ngFor="let order of orders">
      <div class="order-header">
        <h2>Pedido #{{ order.id }}</h2>
        <p>Cliente: {{ order.client }}</p>
        <p>Data de Entrada: {{ order.dateEntry }}</p>
      </div>
      <div class="order-products">
        <h3>Produtos:</h3>
        <ul>
          <li *ngFor="let product of order.products">
            {{ product.product.name }} (Quantidade: {{ product.qty }})
          </li>
        </ul>
      </div>
      <div class="order-status" [ngClass]="{
        'pending': orderService.getStatus(order.id) === 'pendente',
        'in-progress': orderService.getStatus(order.id) === 'fazendo',
        'completed': orderService.getStatus(order.id) === 'feito'
      }">
        <p>Status: {{ orderService.getStatus(order.id) }}</p>
        <p>Data de Processamento: {{ order.dateProcessed }}</p>
        <button (click)="updateOrderStatus(order.id)" [ngClass]="getButtonClass(order.id)">
          {{ orderService.getOrderButtonText(order.id) }}
        </button>
        <p *ngIf="orderService.getStatus(order.id) === 'feito'">Tempo de Processamento: {{ orderService.calculateProcessingTime(order.id) }}</p>
      </div>
    </div>
  </div>
  