main {
    background: var(--color-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap:30px
}

#email-input,
#password-input,
.acessar-button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background: var(--color-background-beige);
    text-align: center;
    font-family: "Bello";
    font-size: 28px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.acessar-button {
    background: var(--color-orange);
    color:#ffff;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.error-message {
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 40px;
  }
  @media screen and (min-width: 970px) {
    main {
      flex-direction: row;
    }
  
    #email-input,
    #password-input,
    .acessar-button {
      margin-top: 30px;
      margin-left: 30px;
    }
  }