<main>
    <app-logo></app-logo>
    <form class="form-login" (ngSubmit)="onLogin(emailInput.value, passwordInput.value)">
        <div>
            <input type="email" id="email-input" #emailInput placeholder="E-MAIL">
        </div>
        <div>
            <input type="password" id="password-input" #passwordInput placeholder="SENHA">
        </div>
        <div>
            <a *ngIf="onLogin" class="acessar-button" routerLink="/clienttable">ACESSAR</a>
            <!--<button type="submit" class="acessar-button">ACESSAR</button>-->
        </div>
    </form>
</main>
