<main>
    <app-logo></app-logo>
    <form class="form-login" (ngSubmit)="onSubmit()">
        <div>
            <input type="email" id="email-input" name="email" [(ngModel)]="email" placeholder="E-MAIL">
        </div>
        <div>
            <input type="password" id="password-input" name="password" [(ngModel)]="password" placeholder="SENHA">
        </div>
        <div>
            <!--<a *ngIf="onLogin" class="acessar-button" routerLink="/clienttable">ACESSAR</a>-->
            <button type="submit" class="acessar-button">ACESSAR</button>
        </div>
        <span *ngIf="loginError" class="error-message">Email ou senha está incorreto</span>
    </form>
</main>
