<main>
    <div class="circle">
        <div class="bread-top"></div>
        <h1 class="fritokas">FRITOKAS</h1>
        <h2 class="burguer">burguer</h2>
        <div class="bread-bottom"></div>
    </div>
    <form class="form-client">
        <div>
            <input type="text" name="name-input" id="name-input" placeholder="NOME DO CLIENTE">
        </div>
        <div>
            <input type="text" name="table-input" id="table-input" placeholder="NÚMERO DA MESA">
        </div>
    </form>
    <section class="selecionar-cardapio">
        <h3 class="text-select">SELECIONE O CARDÁPIO</h3>
        <div class="cardapio-select">
            <a class="acessar-cafe" href="/cafedamanha">CAFÉ DA MANHÃ</a>
            <a class="acessar-almoco" href="/almoco">ALMOÇO</a>
        </div>
    </section>
</main>