main {
    background: var(--color-background-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.form-client {
    margin-top: 15px;
}

#name-input,
#table-input {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background: var(--color-orange);
    text-align: center;
    font-family: "Bello";
    font-size: 32px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

::placeholder {
    color: rgba(0, 0, 0, 0.699);
}

.selecionar-cardapio {
    background: var(--color-red);
    height: 100vh;
    width: 400px;
    border-radius: 160px 160px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.text-select {
    font-size: 32px;
    color: #ffff;
    letter-spacing: 1.8px;
    font-weight: 100;
    margin-top: 15px;
}

.cardapio-select {
    width: 350px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
}

.acessar-cafe {
    width: 165px;
    height: 50px;
    border-radius: 50px 5px 5px 50px;
    background: #FFA620;
    color: #FFF;
    font-family: Bello;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.acessar-almoco {
    width: 165px;
    height: 50px;
    border-radius: 5px 50px 50px 5px;
    background: #8D1900;
    color: #FFF;
    font-family: Bello;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.acessar-cafe:hover,
.acessar-almoco:hover {
    border: 2px solid #000;
}

/* Logo com dimensões reduzidas em 50% */
.circle {
    margin-top: 30px;
    width: 200px;
    height: 350px;
    border-radius: 50%;
    background: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bread-top {
    width: 125px;
    height: 37.5px;
    border-radius: 50px 50px 2.5px 2.5px;
    background: var(--color-orange);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset, 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

.fritokas {
    width: 125px;
    height: 43px;
    color: var(--color-red);
    font-size: 41px;
    letter-spacing: -1.5px;
    margin-top: -17.5px;
}

.burguer {
    width: 125px;
    height: 30px;
    color: #000;
    font-size: 28px;
    letter-spacing: 5.8px;
    margin-top: -10px;
    margin-bottom: 2.5px;
}

.bread-bottom {
    width: 125px;
    height: 30px;
    border-radius: 2.5px 2.5px 50px 50px;
    background: var(--color-orange);
    box-shadow: 2.5px 0.5px 5px 1px rgba(0, 0, 0, 0.25) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}