main {
    background: var(--color-background-beige);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-menu {
    width: 340px;
    height: 120px;
    border: 2px solid #C9772C;
    background: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 15px;
}
.container-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.img-product {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    align-items: flex-end;
}
.container-text {
    justify-content: space-between;

}
.name-product,
.price-product {
    color: #000;
    font-size: 18px;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 500;
}
.details-product {
    font-size: 15px;
    margin-bottom: 30px;
}
.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.input-group {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .count-product {
    width: 35px;
    text-align: center;
    font-size: 16px;
    border: none;
  }
  .count-product:focus {
    outline: none;
}
  .count-product::-webkit-inner-spin-button,
.count-product::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
  
  .increment-button, .decrement-button {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    user-select: none;
    border-radius: 50%;
  }
  
  .increment-button:hover, .decrement-button:hover {
    background-color: #ffffff;
  }


  @media (min-width: 700px) {
    .container-data {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
  }